<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ilya app</title>
</head>
<body>

{%if users%}
    <ol>
    <h2>Astronaut Names</h2>
    {% for user in users %}
        <li><div>
        <td><b>Name: </b>{{ user['name'] }}</td>
        <td><b>Craft: </b>{{ user['craft'] }}</td>
      </div></li>
    {% endfor %}
    </ol>
{% endif %}


{% if craft_name %}
    <ol>
    <h2>Craft: {{ craft_name }}</h2>
    {% for user in ppl %}
        {% if craft_name == user['craft'] %}
            <li><div>
                <td>{{ user['name'] }}</td>
            </div></li>
        {% endif %}
    {% endfor %}
    </ol>
{% endif %}


{% if file_name %}
    <ol>
    <h2>File contents: {{ file_name }}</h2>
    {% for line in file_body %}
            <td> {{ line }}</td><br>
    {% endfor %}
    </ol>
{% endif %}


{% if logs_body %}
    <ol><h2>Logs_body</h2>
    {% for logs_line in logs_body %}
            <td> {{ logs_line }}</td><br>
    {% endfor %}
    </ol>
{% endif %}

</body>
</html>
